@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color: @Model.layout.BackgroundColor">
    <table align="center">
        <tr>
            <td>
                <img src="~/img/Logo-Transparent.png" alt="logo"/>
            </td>
            <td>
                <h1 class="display-4" style="color:white">Welcome</h1>
            </td>
        </tr>
    </table>
</div>
